/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.spaced {
    margin-right: 25px;
}

.double-spaced {
    margin-right: 300px;
}

.task-image {
    height: 150px;
}

.object-bbox {
    stroke-width: 0;
    stroke: #6f42c1;
    fill: rgba(20, 20, 20, 0.4);
}

.object-segment {
    fill: rgba(30, 60, 100, 0.0);
}

.object-segment-invisible {
    fill: rgba(0, 0, 0, 0);
}

.object-segment-active {
    fill: rgba(255, 133, 27, 0.75);
    stroke-width: 1px;
    stroke: black;
}

.object-segment-selected {
    fill: rgba(133, 13, 201, 0.75);
    stroke-width: 2px;
    stroke: black;
}

.dimmed {
    fill-opacity: 0.25 !important;
}

.force-show {
    fill: rgba(255, 200, 0, 0.75) !important;
    stroke-width: 2px !important;
    stroke: black !important;
}